

body {
    background-color: black;
    margin: 0; 
}


.ButtonContainer {
    display: flex;
    justify-content: right;
    gap: 10px;
}


#div1 {
    background-color: blue;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    padding: 0 10px; 
}


.ButtonContainer button {
    margin: 5px;
    padding: 10px 15px; 
    background-color: black;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer; 
    font-size: 16px;
}


.paragraphs {
    font-size: larger;
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    margin: 20px;
}


#footerid {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    z-index: 10; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); 
}

#bilde3{
    margin-left: 450px;
}



#settings{
position: fixed;
bottom: 60px;
left: 10px;
}